
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: distribucion
    working_dir: /var/www
    volumes:
      - ./src:/var/www
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    # container_name: filament_mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: distribuidor_db
      MYSQL_USER: distribuidor_user
      MYSQL_PASSWORD: secret
    ports:
      - "3308:3306" # expuesto en tu Mac en el puerto 3307
    volumes:
      - mysql_data:/var/lib/mysql

  nginx:
    image: nginx:alpine
    # container_name: filament_nginx
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

volumes:
  mysql_data:
